<% if @customer.errors.any? %>
  <%= @customer.errors.count %>件のエラーが発生しました
  <% @customer.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<%= form_with url:admin_customer_path, model:@customer, local:true do |f| %>
<div class = "container o-8column">
  <div class = "row">
    <h4 class = "col-4 text-center" style = "background-color:lightgray"><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</h4>
  </div>
      <table class = "table table-borderless">
        <tbody>
          <tr class = "row">
            <td class = "col-2">会員ID</td>
            <td class = "col-3"><%= @customer.id %></td>
            <td class = "col-3"></td>
          </tr>
          <tr class = "row">
            <td class = "col-2">氏名</td>
            <td class = "col-3"><%= f.text_field :last_name, autofocus: true, id:"inputName", placeholder:"姓" %></td>
            <td class = "col-3"><%= f.text_field :first_name, autofocus: true, id:"inputName", placeholder:"名" %></td>
          </tr>
          <tr class = "row">
            <td class = "col-2">カナ</td>
            <td class = "col-3"><%= f.text_field :last_name_kana, autofocus: true, id:"inputName", placeholder:"姓カナ" %></td>
            <td class = "col-3"><%= f.text_field :first_name_kana, autofocus: true, id:"inputName", placeholder:"名カナ" %></td>
          </tr>
          <tr class = "row">
            <td class = "col-2">郵便番号</td>
            <td class = "col-3"><%= f.text_field :postal_code, autofocus: true, id:"inputName", placeholder:"郵便番号" %></td>
            <td class = "col-3"></td>
          </tr>
          <tr class = "row">
            <td class = "col-2">住所</td>
            <td class = "col-3"><%= f.text_field :address, autofocus: true, id:"inputName", placeholder:"住所", :size => "54" %></td>
            <td class = "col-3"></td>
          </tr>
          <tr class = "row">
            <td class = "col-2">電話番号</td>
            <td class = "col-3"><%= f.text_field :phone_number, autofocus: true, id:"inputName", placeholder:"電話番号" %></td>
            <td class = "col-3"></td>
          </tr>
          <tr class = "row">
            <td class = "col-2">メール</td>
            <td class = "col-3"><%= f.text_field :email, autofocus: true, id:"inputName", placeholder:"メールアドレス" %></td>
            <td class = "col-3"></td>
          </tr>
          <tr class = "row">
            <td class = "col-2">ステータス</td>
            <td class = "col-3">
              <%= f.radio_button :is_deleted, "false" %>有効
              <%= f.radio_button :is_deleted, "true" %>無効
            </td>
            <td class = "col-3"></td>
          </tr>
          <tr class = "row">
            <td class = "col-2"></td>
            <td class = "col-3"><%= f.submit "変更内容を保存", class: "btn btn-success" %></td>
            <td class = "col-3"></td>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>
