<h4><%= @customer.last_name %> <%= @customer.first_name %>さんの会員詳細</h4>
<% if @customer.errors.any? %>
  <%= @customer.errors.count %>件のエラーが発生しました
  <% @customer.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>
<%= form_with model:@customer, local:true do |f| %>
<table class = "table">
  <tbody>
    <tr>
      <td>会員ID</td>
      <td><%= @customer.id %></td>
      <td></td>
    </tr>
    <tr>
      <td>氏名</td>
      <td><%= f.text_field :last_name, autofocus: true, id:"inputName", placeholder:"姓" %></td>
      <td><%= f.text_field :first_name, autofocus: true, id:"inputName", placeholder:"名" %></td>
    </tr>
    <tr>
      <td>カナ</td>
      <td><%= f.text_field :last_name_kana, autofocus: true, id:"inputName", placeholder:"姓カナ" %></td>
      <td><%= f.text_field :first_name_kana, autofocus: true, id:"inputName", placeholder:"名カナ" %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= f.text_field :postal_code, autofocus: true, id:"inputName", placeholder:"郵便番号" %></td>
      <td></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_field :address, autofocus: true, id:"inputName", placeholder:"住所" %></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= f.text_field :phone_number, autofocus: true, id:"inputName", placeholder:"電話番号" %></td>
      <td></td>
    </tr>
    <tr>
      <td>メール</td>
      <td><%= f.text_field :email, autofocus: true, id:"inputName", placeholder:"メールアドレス" %></td>
      <td></td>
    </tr>
    <tr>
      <td>ステータス</td>
      <td><td><%= f.select :is_deleted, [["有効会員","false"], ["退会済み","true"]], class: "custom-radio" %> </td>
      <td></td>
    </tr>
  </tbody>
</table>
<% end %>
  <%= f.submit "変更内容を保存", class: "btn btn-primary" %>