<h4><%= @customer.last_name %> <%= @customer.first_name %>さんの会員詳細</h4>
<table class: "table">
  <body>
    <tr>
      <td></td>
      <td><% @customer.customer_id %></td>
      <td></td>
    </tr>
    <tr>
      <td>氏名</td>
      <td><%= @customer.last_name %></td>
      <td><%= @customer.first_name %></td>
    </tr>
    <tr>
      <td>フリガナ</td>
      <td><%= @customer.last_name_kana %></td>
      <td><%= @customer.first_name_kana %></td>
    </tr>
    <tr>
      <td>郵便番号</td>
      <td><%= @customer.postal_code %></td>
      <td></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= @customer.address %></td>
      <td></td>
    </tr>
    <tr>
      <td>電話番号</td>
      <td><%= @customer.phone_number %></td>
      <td></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= @customer.email %></td>
      <td></td>
    </tr>
    <tr>
      <td>ステータス</td>
      <td>
        <% if @customer.is_deleted == false %>
        有効
        <% else %>
        退会
        <% end %>
      </td>
      <td></td>
    </tr>
  </body>
</table>

<%= link_to "編集する", edit_customer_admin_path(@customer), class: "btn btn-success" %>
注文履歴一覧リンク