<h2>商品詳細</h2>
<div>
  <%# ジャンル検索を入れれたら入れる%>
  
  <div>
  <%= attachment_image_tag @item, :image, format: "jpeg", fallback: "no_image.jpg", size: "100x100" %>
  </div>
  <div>

    <div><%= @item.name %></div>
    

    <div><%= @item.explanation %></div>
    
    <div>￥<%= @item.add_tax_price.to_s(:delimited) %>(税込)</div>

    <% if customer_signed_in? %>
      <% if @item.sold_out? %>
        <%= form_with model: @cart_items do |f| %>
        <div class="input-group">
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.select :amount, options_for_select((1..20).to_a), {include_blank: "個数選択"}, {class: "form-control rounded"} %>
          <%= link_to "カートに入れる", class: "btn-outline-dark" %>
        </div>
        <% end %>
      <% else %>
        <div class="btn btn-outline-dark">売切れ</div>
      <% end %>
    <% else %>
      <p>ご購入の際は<%= link_to "会員新規登録", new_cutomer_registration_path %>をお願い致します。</p>
    <% end %>
  </div>
</div>