<font color = "red"><%= flash[:alert] %></font>

<div class="container">
<h2>配送先編集</h2>
<%= form_with url:customer_address_path, model: @address, local:true do |f| %>
<table class="table">
    <tr>
      <td>郵便番号(ハイフンなし)</td>
      <td><%= f.text_field :postal_code %></td>
    </tr>
    <tr>
      <td>住所</td>
      <td><%= f.text_field :address, :size => "40" %></td>
    </tr>
    <tr>
        <td>宛名</td>
        <td><%= f.text_field:name %></td>
        <td><%= f.submit "更新する", class: "btn btn-success" %></td>
    </tr>
    <tr>
      <td><%= link_to "一覧に戻る", customer_addresses_path, class: "btn btn-primary" %></td>
    </tr>
</table>
<% end %>
</div>